body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container {
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.title {
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  color: #666;
  margin-bottom: 5px;
}

.input-group input {
  width: 50%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.password-display {
  margin: 20px 0;
}

#password {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.password-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.password-button:hover {
  background-color: #45a049;
}
#message-text {
  margin-top: 10px;
  font-size: 20px;
}
.copy-button {
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 10px;
}
.copy-button:hover {
  background-color: #796868;
}
